.Bottom {
  height: 10vh;
  width: 100vw;
  display: flex;
  
}
.Bottom p{
  font-size: 1.1vw;
  font-weight: 300;
  text-align: center;
}
.quesBtn {
  background-color: white;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2vw;
  padding-left: 7vw;
  border-top: .1vw solid #7A8B94;
}
.subBtn {
  background-color: #e5f6fd;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: .1vw solid #7A8B94;
  border-left: .1vw solid #7A8B94;
}
.custom-btn {
  height: 5.1vh;
  color: #fff;
  border-radius: 0.4vw;
  padding: 1vw 2vw;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none ;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-btn:hover{
  filter: brightness(65%);
}

#snbtn{
  background: rgb(40,167,69);
  background: linear-gradient(0deg, rgba(40,167,69,1) 0%, rgba(10, 117, 35,1) 100%);
  
}
#cbtn{
  color: white;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgb(219, 69, 69) 0%, rgb(204, 11, 11)100%);
}
#smbtn{
  color:white;
  background: rgb(255,193,7);
  background: linear-gradient(0deg, rgba(255,193,7,1) 0%, rgb(218, 164, 3) 100%);
}
#mrnbtn{
  background: rgb(6,14,131);
  background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
}
#subbtn{
  background: rgb(48, 128, 233);
  background: linear-gradient(0deg, rgba(48, 128, 233,1) 0%, rgb(17, 97, 202) 100%);
}