.Main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eff4f7;
}

.Main .a{
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.Main .a .al{
  border: .2vw solid black;
  border-radius: 1vh;
  text-transform: uppercase;
  font-size: 1.4vw;
  font-weight: 600;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: .5vw;
  padding-bottom: .5vw;
  width: fit-content;
}

.Main .b{
  flex: 1;
  overflow: auto;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 100vw;
}
.Main .b .top{
  display: flex;
  align-items:center ;
  justify-content:center ;
}
.Main .b .head{
  color: black;
  font-size: 1.2vw;
  text-transform: capitalize;
  font-weight: 600;
  right: 1.3vw;
  position: relative;
}
.b .botList{
  color: black;
  font-size: 1.1vw;
  padding: 0.4vw 0;
}
.b .subol{
  padding-left: 4%;
}
.botol{
  padding-top: 1vw;padding-bottom: 1vw;
}
.Main .c{
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  display: flex;
  padding-left: 6vw;
  padding-right: 6vw;
  width: 100vw;
  background: white;
}
.ir{
  padding: .6vw 4.4vw;
  background: linear-gradient(0deg, rgba(48, 128, 233,1) 0%, rgb(17, 97, 202) 100%);
  color: white;
  font-size: 1.3vw;
  font-weight: 600;
  text-transform: uppercase;
}