.modal{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.modal-content{
    height: 35vh;
    width: 41vw;
    border-radius: 2vh;
    background: white;
    display: flex;
    flex-direction: column;
}
.modal-content .header{
    background: linear-gradient(0deg, rgb(178, 177, 173) 0%,white 100%);
    border-top-right-radius: 2vh;
    border-top-left-radius: 2vh;
    height: 17%;
    width: 100%;
    padding: 1vh;
    padding-left: 2vh;
    font-size: 1.6vw;
    font-weight: 600;
    color: rgb(103, 99, 99);
}
.modal-content .mainC{
    height: 61%;
    width: 100%;
    display: flex;
    font-size: 1.03vw;
    font-weight: 600;
    color: rgb(61, 59, 59);
}
.modal-content .mainC .left{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.modal-content .mainC .left img{
    width: 60%;
}
.over{
    width: 100% !important;
}
.modal-content .mainC .right{
    flex: 1;
    padding: 2vw;
    padding-left: 1vw;
}
.modal-content .mainC .right .a{
    color: black;
    padding-bottom: 1vw;
    font-size: 1.4vw;
}
.modal-content .bot{
    display: flex;
    gap: 1vw;
    padding: 1vw;
    padding-top: 0vw;
}
#modal-root{
    position: relative;
    z-index: 999;
}