@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
.Navbar{
    background-color: white;
    height: 15vh;
    width: 100vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
}
.Navbar img{
    height: 100%;
}
.Navbar .nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    font-family: 'Reggae One', cursive;
    font-size: 5.4vh;
    color: #0c8eda;
}