.quesBlock {
  width: 25vw;
  background-color:#e5f6fd;
  height: 33vh;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  padding-bottom: 3vh;
  padding-top: 3vh;
  overflow: auto;
}

#palette-list{
  justify-content: center;
  align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;

}
.item{
  height: 7vh !important;
  width: 7vh !important;
}
.item:hover{
  filter: brightness(85%);
}
