.quesBlockInfo {
  width: 25vw;
  height: 27vh;
  padding: 1vw;
}
.quesBlockInfo p{
  font-size: .9vw;
}
.col-img p{
  font-size: 1vw;
}

.quesBlockInfo #color-info {
  border: dotted black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
}

.color {
  display: flex;
  width: 50%;
}
.col-img {
  cursor: pointer;
  height: 2rem;
  width: 2rem ;
  margin: .4vw;
  border-radius: 4px;
  color: #2D81F7; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.color .col-dep {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}

.Answered {
  border: .1vw solid green;
  color: white;
  background: #11d080 ;
}
.notAnswered {
  border: .1vw solid red;
  color: white;
  background: rgb(247, 92, 92) ;
}

.notVisited {
  border: .1vw solid #7A8B94;
  color: #7A8B94;
  background: #EAF3FF;
}

.mark {
  border: .1vw solid purple;
  color: white;
  background: rgb(188, 66, 188) ;
}

.ansmark {
  border-radius: 144vw !important;
  border: .1vw solid darkblue;
  color: white !important;
  background: #2D81F7;
  width: 3rem;
}
#longcolor{
  flex: 1;
}