.Reg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eff4f7;
}
.Reg .con {
  display: flex;
  flex: 1;
  padding: 2vw;
}
.Reg .con .left {
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Reg .con .left img {
  width: 70%;
  animation: slideY 3s ease infinite alternate;
  filter: drop-shadow(5px 5px 5px #222222);
}
.Reg .con .right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.Reg .con .right  .a{
  display: flex;
  justify-content: center;
  align-items:center ;
  padding-bottom: 1.3vw;
}
.Reg .con .right  .al {
  border: 0.2vw solid black;
  border-radius: 1vh;
  text-transform: uppercase;
  font-size: 1.4vw;
  font-weight: 600;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  width: fit-content;
}
.Reg .con .right .b {
  flex: 1;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding-right: 8vw;
}
.Reg .con .right .b .ame{
  display: flex;
  gap: 2vw;
}
.Reg .s{
  width: 100%;
}
.Reg .t{
  width:37vw;
}
.Reg .n{
  width: 17.5vw;
}
.Reg .r{
  width: 50%;
}

@keyframes slideY {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* *************************************** */

.Reg .input-field{
  position: relative;
}
.Reg .input-field input{
  height:7vh;
  border-radius:1vh;
  font-size: 1.3vw;
  padding: 0 2vh;
  border: .1vh solid #7a7676;
  background: transparent;
  color:#7a7676;
  outline: none;
}
.Reg .input-field label{
  position: absolute;
  top: 50%;
  left: 1vw;
  transform: translateY(-50%);
  color: #7a7676;
  font-size: 1.3vw;
  pointer-events: none;
  transition: 0.3s;
}
.Reg input:focus{
  border: .1vh solid #2b18ff;
}
.Reg input:focus ~ label,
.Reg input:valid ~ label{
  top: 0;
  left: 1vw;
  font-size: 1vw;
  padding: 0 .5vw;
  color: #2b18ff;
  background: #eff4f7;
}
.separate {
  grid-column: 1 / 3;
  height: 8px;
  background-image: linear-gradient(90deg, rgb(138, 139, 154), rgb(170, 172, 188),transparent);
  border: 0;
  height: 4px;
}
.Reg .sel{
  outline: none;
  font-size: 1.3vw;
  color: #7a7676;
  border-radius:1vh;
  padding: 0 2vh;
  border: .1vh solid #7a7676;
  width: 37vw;
  height:7vh;
  display: flex;
}
.Reg .sel select{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #7a7676;
  font-size: 1.3vw;
  background: transparent;
}