.Result {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #eff4f7;
}
.ResultStat {
  flex: 1;
  display: flex;
}
.leftContent {
  width: 60vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
}
.resdata {
  height: 27.1vh;
  width: 60vw;
  padding-top: 1.8vw;
  padding-bottom: 0.9vw;
  padding-left: 1.8vw;
  padding-right: 0.9vw;
  display: flex;
}
.resdata .data {
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  flex: 1;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  padding-left: 2.3vw;
  padding-right: 2.3vw;
}
.resdata .data .bioA,
.resdata .data .bioB {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resdata .data .bioA p,
.resdata .data .bioB p {
  font-size: 1.3vw;
  padding: 0.3vw;
  font-weight: 600;
}
.resdata .data .bioA p {
    color: rgb(44, 162, 225);
}
.resdata .data .bioB p {
    color:rgb(16, 136, 216);
    text-transform: uppercase;
}
.resContent {
  flex: 1;
  width: 60vw;
  padding-top: 0.9vw;
  padding-left: 1.8vw;
  padding-right: 0.9vw;
  padding-bottom: 1.8vw;
  display: flex;
}
.resContent .chart {
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  border-radius: 2vh;
  flex: 1;
}
.rightContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.alfha {
  height: 27.1vh;
  width: 40vw;
  display: flex;
}
.timeAlfha {
  padding-top: 1.8vw;
  padding-left: 0.9vw;
  padding-bottom: 0.9vw;
  padding-right: 0.9vw;
  width: 21.8vw;
  display: flex;
}
.timeAlfha .time {
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  border-radius: 2vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.unaaAlfha {
  padding-top: 1.8vw;
  padding-bottom: 0.9vw;
  padding-right: 1.8vw;
  padding-left: 0.9vw;
  display: flex;
  width: 21.2vw;
  /* overflow: hidden; */
}
.unaaAlfha .ans {
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  flex: 1;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.beta {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.goal{
  height: 17.37vh; 
  width: 40vw;
  display: flex;
}
.timeBar{
  padding-left: 0.9vw;
  padding-bottom: 0.9vw;
  padding-right: 0.9vw;
  padding-top: .9vw;
  display: flex;
  width: 20.2vw;
}
.avgBar{
  padding-left: 0.9vw;
  padding-bottom: 0.9vw;
  padding-right: 1.8vw;
  padding-top: .9vw;
  display: flex;
  flex: 1;
}
.avgBar .bar,.timeBar .bar{
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  border-radius: 2vh;
  flex: 1;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}
.scorePlate {
  padding-left: 0.9vw;
  padding-right: 1.8vw;
  padding-top: 0.9vw;
  padding-bottom: 0.9vw;
  display: flex;
  height: 28.95vh;
}
.scorePlate .score {
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  border-radius: 2vh;
  flex: 1;
  padding: 1vw;
  display:flex;
}
.Retry {
  padding-left: 0.9vw;
  padding-right: 1.8vw;
  padding-top: 0.9vw;
  padding-bottom: 1.8vw;
  display: flex;
  flex: 1;
}
.Retry .retry {
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  border-radius: 2vh;
  flex: 1;
  background:linear-gradient(0deg, rgba(48, 128, 233,1) 0%, rgb(17, 97, 202) 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1vw;
  border: none;
}
/* ************************************* */


  
._progress-circle {
  width: 80%;
}

._progress-background {
  fill: none;
  stroke: #ddd;
  stroke-width: 10;
}

._progress {
  fill: none;
  stroke: #007acc;
  stroke-width: 10;
  stroke-linecap: round;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dasharray 0.5s ease;
}

._progress-text {
  fill: #007acc;
  font-size: 50%;
  font-weight: bold;
  text-anchor: middle;
  line-height: 1.2em;
}

._progress-percent {
  font-size: 270%;
}

._progressscore-text{
  font-size: 140%;
}
/* **************************** */
.scorePlate .score .left{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scorePlate .score .right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}
.haha{
  font-size: 1.7vw;
  font-weight: 600;
  
  color: #007acc;
}
.wow{
  color: rgb(47, 202, 47);
}
.how{
  color: rgb(240, 119, 39);
}
.now{
  padding-left: 2vh;
}
.tow{
  font-size: 2.5vw;
  color: rgb(164, 167, 163);
  padding-left: 1vw;
  padding-right: 1vw;
}
.hah{
  font-size: 1.6vw;
  font-weight: 600;
  color: rgb(96, 99, 97);
}
.ha{
  font-size: 1.2vw;
  font-weight: 600;
  padding: .6vw;
  padding-left: 1vw;
  color: #007acc;
}
.apj{
  font-weight: 600;
  font-size: 1.2vw;
  padding-left: 1vw;
  color: rgb(164, 167, 163);
}
.sam{
  font-weight: 600;
  font-size: 1.2vw;
  padding-left: 1vw;
  color: rgb(164, 167, 163);
  padding-top: 2vh;
}
