.Sidebar {
  background-color: white;
  display: flex;
}
.closer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.close {
  cursor: pointer;
  border-bottom-left-radius: 0.4vw;
  border-top-left-radius: 0.4vw;
  background-color: black;
  border: black;
  color: white;
  width: 1.1vw;
  height: 6.4vh;
}
.info {
  box-shadow: 0px 0px 24px 0px #656868;
}
.info ::-webkit-scrollbar {
  width: 0.7vw;
}
.info ::-webkit-scrollbar-track {
  background-color:  #86a3b2;
  border-radius: 5vw;
}
.info ::-webkit-scrollbar-thumb {
  background-color: #0c7cd5 ;
  border-radius: 5vw;
}
